<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApiDemos Parallel Test Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="org.automation.testUtils.Listeners"/>
    </listeners>

    <test name="All Tests - Parallel Execution">
        <classes>
            <class name="org.automation.tests.HomeTest"/>
            <class name="org.automation.tests.ScrollViewTest"/>
            <class name="org.automation.tests.DragDropTest"/>
            <class name="org.automation.tests.ExpandableListTest"/>
            <class name="org.automation.tests.ControlsTest"/>
            <class name="org.automation.tests.AlertDialogsTest"/>
            <class name="org.automation.tests.LogTextBoxTest"/>
            <class name="org.automation.tests.ListsTest"/>
            <class name="org.automation.tests.ProgressBarTest"/>
            <class name="org.automation.tests.HorizontalScrollTest"/>
        </classes>
    </test>
</suite>
