<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApiDemos Test Suite">
    <listeners>
        <listener class-name="org.based onautomation.testUtils.Listeners"/>
    </listeners>

    <test name="Home Screen Tests">
        <classes>
            <class name="org.automation.tests.HomeTest"/>
        </classes>
    </test>
</suite>
